<html>
<body>
<h1>
    {{ .title }}
</h1>

<div>
    mobile: <input id="mobile"/> <button id="click">send code</button><br>
    code:   <input id="code"/><br>
    <button id="submit">submit</button><br>
</div>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    function sendRequest(url) {
        $.ajax({
            type: "post",
            url: url,
            data: JSON.stringify({
                mobile: $("#mobile").val(),
                code: $("#code").val()
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            complete: function (data) {
                if (data.status === 307) {
                    window.location = data.responseText
                }
            }
        });
    }

    $(document).ready(function () {
        $("#click").click(function () {
            sendRequest("/wgo/code/")
        });
        $("#submit").click(function () {
            sendRequest("/wgo/checkin/")
        });
    });
</script>
</body>
</html>